@using KFA.SupportAssistant.RCL.Pages.Users
@using Microsoft.AspNetCore.Components.Authorization

<Fluxor.Blazor.Web.StoreInitializer />
<CascadingAuthenticationState>
   <Router AppAssembly="@typeof(MauiProgram).Assembly" AdditionalAssemblies="new[]{typeof(MainMenuType).Assembly}">
        <Found Context="routeData">
            <AuthorizeView>
                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layout.MainLayout)" />
                </Authorized>
                <NotAuthorized>
                    <CascadingAuthenticationState>
                        <Login />
                    </CascadingAuthenticationState>
                </NotAuthorized>
            </AuthorizeView>
             <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>        
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(Components.Layout.MainLayout)">
                <h1>404 Error</h1>
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>            
    </NotFound>
    </Router>
</CascadingAuthenticationState>